@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body {
  overflow: hidden;
}

#main-container-content {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #f1fef8, #e4fff2);
  display: flex;
  align-items: center;
  justify-content: center;

  #container {
    width: 95vw;
    height: 90vh;
    // background-color: white;
    display: flex;
    cursor: default;
    flex-direction: column;
    #noti {
      width: 95vw;
      height: 8vh;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-inline: 50px;
      color: #204629;
      font-weight: 500;
      font-family: "Instrument Sans", sans-serif;
      letter-spacing: -2px;
      font-size: 32px;
    }
    #content {
      width: 95vw;
      height: 82vh;
      box-sizing: border-box;
      padding: 32px;
      display: flex;
      gap: 32px;
      flex-direction: column;
      #row-1 {
        width: 100%;
        height: 47%;
        // background-color: grey;
        display: flex;
        gap: 32px;
        #weather {
          height: 100%;
          background-color: #fff;
          flex: 0.8;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          box-sizing: border-box;
          font-family: "Instrument Sans", sans-serif;
          letter-spacing: -1px;
          position: relative;
          // padding: 10px;
          #info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80%;
            width: 100%;
            box-sizing: border-box;
            padding-block: 10px;
            // background-color: grey;
          }
          #loading{
            // position:absolute;
            // top:50%;
            // left:50%;
            animation: load 1s infinite linear;
          }
          @keyframes load {
            0% {
              rotate: 0deg;
            }
          
            100% {
              rotate: 360deg;
            }
          }
          
        }
        #foodtotry {
          height: 100%;
          background-color: #fff;
          flex: 2;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: space-around;
          padding-block: 16px;
          box-sizing: border-box;

          #content-foods {
            display: flex;
            width: 100%;
            flex-direction: row;
            // background-color: red;
            height: 100%;
            justify-content: space-evenly;
            position: relative;
            font-family: "Instrument Sans", sans-serif;
            letter-spacing: -1px;
            #foo {
              display: flex;
              flex-direction: column;
              align-items: center;
              // border: 2.5px solid rgb(32, 70, 41, 0.25);
              border-radius: 24px;
              max-width: 30%;
              height: 100%;
              gap: 4px;
              
              #picture{
                img {
                  height: 100%;
                  width: 100%;
                  border-radius: 24px;
                  transition: 0.38s ease-in-out;
                  cursor: pointer;
                  // &:hover {
                  //   scale: 1.05;
                  //   // border-radius: 4px;
                  //   // height:220px;
                  // }
                }

              }
              #cook-food {
                display: flex;
                flex-direction: column;
                // align-items: center;
                gap: 4px;
                overflow: hidden;
              }
            }

            #loading {
              position: absolute;
              top: 50%;
              left: 50%;
              animation: load 1s infinite linear;
            }
            @keyframes load {
              0% {
                rotate: 0deg;
              }

              100% {
                rotate: 360deg;
              }
            }
          }
        }
        #things-container {
          height: 100%;
          background-color: #fff;
          flex: 1.5;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          padding-block: 8px;
          overflow: hidden;
          #content-things {
            width: 100%;
            height: 90%;
            // background-color: red;
            box-sizing: border-box;
            padding-inline: 16px;
            position: relative;
            overflow: hidden;
            #things {
              
              #each-thing {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 0.8vw;
                color: rgba(32, 70, 41, 0.75);

                #bar {
                  border: none;
                  border-top: 4px dotted rgba(32, 70, 41, 0.25);
                  color: #fff;
                  background-color: #fff;
                  height: 1px;
                  display: flex;
                  margin-inline: auto;
                  width: 100%;
                }
              }
            }
            #loading {
              position: absolute;
              top: 50%;
              left: 50%;
              animation: load 1s infinite linear;
            }
            @keyframes load {
              0% {
                rotate: 0deg;
              }

              100% {
                rotate: 360deg;
              }
            }
          }
        }
      }
      #row-2 {
        width: 100%;
        height: 53%;
        // background-color: grey;
        display: flex;
        gap: 32px;
        #dynamic {
          height: 100%;
          background-color: #fff;
          flex: 1.2;
          border-radius: 24px;
          overflow: hidden;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          position: relative;
          // font-size: 10px;
          #history{
            width:100%;
            height:100%;
            z-index: 1;
            position: relative;
            img{
              position: absolute;
              width:100%;
              height: 100%;
              z-index: 3;
            }
            #context{
              position: absolute;
              z-index: 5;
              width:100%;
              height:fit-content;
              bottom:-2%;
              font-family: "Instrument Sans", sans-serif;
              letter-spacing: -1px;
              font-size: 1.2vw;
              border-radius: 16px;
              box-sizing: border-box;
              padding: 8px;
              background-color: #ffffff94;
              // background-color: #2046293b;
              backdrop-filter: blur(24px);
            }
          }

          #loading{
            position:absolute;
            top:50%;
            left:50%;
            animation:load 1s infinite linear;
          }
          @keyframes load {
            0% {
              rotate: 0deg;
            }

            100% {
              rotate: 360deg;
            }
          }
        }
        #placestovisit {
          height: 100%;
          background-color: #ffff;
          flex: 2;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding-block: 16px;
          box-sizing: border-box;
          gap:4px;

          #content-placestovisit {
            display: flex;
            width: 100%;
            // background-color: red;
            height: 100%;
            justify-content: space-evenly;
            position: relative;
            font-family: "Instrument Sans", sans-serif;
            letter-spacing: -1px;
            // gap:80px;

            #cit {
              display: flex;
              flex-direction: column;
              align-items: center;
              // border: 2.5px solid rgb(32, 70, 41, 0.25);
              border-radius: 24px;
              max-width: 23%;
              height: 100%;
              gap: 16px;
              #pp{
                img {
                  height: 100%;
                  width: 100%;
                  border-radius: 24px;
                  transition: 0.38s ease-in-out;
                  cursor: pointer;
                  // &:hover {
                  //   // scale: 1.05;
                  //   // border-radius: 4px;
                  //   // height:220px;
                  // }
                }

              }

              #cook {
                display: flex;
                flex-direction: column;
                // align-items: center;
                gap: 4px;
                overflow: hidden;
              }
            }
            #loading {
              position: absolute;
              top: 50%;
              left: 50%;
              animation: load 1s infinite linear;
            }
            @keyframes load {
              0% {
                rotate: 0deg;
              }

              100% {
                rotate: 360deg;
              }
            }
          }
        }
      }
    }
    #weather-container {
      width: 95vw;
      height: 82vh;
      box-sizing: border-box;
      padding: 32px;
      // margin-top: 15px;
      background-color: rgba(217, 255, 228, 1);
      border: 2.5px solid rgb(32, 70, 41, 0.25);
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      #back {
        position: absolute;
        top: 5%;
        left: 2.5%;
        cursor: pointer;
      }
      #today {
        height: 50%;
        width: 100%;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        #info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 80%;
          width: 100%;
          box-sizing: border-box;
          padding-block: 10px;
          // background-color: grey;
        }
      }
      #weeks {
        // background-color: grey;
        height: 100%;
        width: 100%;
        display: flex;
        // justify-content: center;
        gap: 32px;
        align-items: center;
        #card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 95%;
          width: 50%;
          box-sizing: border-box;
          padding-block: 10px;
          // background-color: black;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          #information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
