@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

body {
  overflow: hidden;
}

#main-container-content {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #f1fef8, #e4fff2);
  display: flex;
  align-items: center;
  justify-content: center;

  #container {
    width: 95vw;
    height: 90vh;
    // background-color: white;
    display: flex;
    flex-direction: column;
    #noti {
      width: 95vw;
      height: 8vh;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-inline: 50px;
      color: #204629;
      font-weight: 500;
      font-family: "Instrument Sans", sans-serif;
      letter-spacing: -2px;
      font-size: 32px;
    }
    #content {
      width: 95vw;
      height: 82vh;
      box-sizing: border-box;
      padding: 32px;
      display: flex;
      gap: 32px;
      flex-direction: column;
      #row-1 {
        width: 100%;
        height: 47%;
        // background-color: grey;
        display: flex;
        gap: 32px;
        #weather {
          height: 100%;
          background-color: #fff;
          flex: 0.8;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          box-sizing: border-box;
          font-family: "Instrument Sans", sans-serif;
          letter-spacing: -1px;
          // padding: 10px;
          #info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 80%;
            width: 100%;
            box-sizing: border-box;
            padding-block: 10px;
            // background-color: grey;
          }
        }
        #weather-2 {
          height: 100%;
          background-color: #fff;
          flex: 2;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
        }
        #weather-3 {
          height: 100%;
          background-color: #fff;
          flex: 1.5;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
        }
      }
      #row-2 {
        width: 100%;
        height: 53%;
        // background-color: grey;
        display: flex;
        gap: 32px;
        #weather {
          height: 100%;
          background-color: #fff;
          flex: 1.2;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
        }
        #placestovisit {
          height: 100%;
          background-color: #ffff;
          flex: 2;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: space-around;
          padding-block: 8px;
          box-sizing: border-box;

          #content-placestovisit {
            display: flex;
            width: 100%;
            // background-color: red;
            height: 100%;
            justify-content: space-evenly;
            position: relative;
            font-family: "Instrument Sans", sans-serif;
            letter-spacing: -1px;

            #cit {
              display: flex;
              flex-direction: column;
              align-items: center;
              // border: 2.5px solid rgb(32, 70, 41, 0.25);
              border-radius: 24px;
              max-width: 20%;
              height:100%;
              #picture {
                flex: 2;
                overflow: hidden;
                height:80%;
                img{
                  height:200px;
                  width:100%;
                  border-radius: 24px;
                }
              }
              #cook{
                display: flex;
                flex-direction: column;
                overflow: hidden;
              }

            }
          }
        }
      }
    }
    #weather-container {
      width: 95vw;
      height: 82vh;
      box-sizing: border-box;
      padding: 32px;
      // margin-top: 15px;
      background-color: rgba(217, 255, 228, 1);
      border: 2.5px solid rgb(32, 70, 41, 0.25);
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      #back {
        position: absolute;
        top: 5%;
        left: 2.5%;
        cursor: pointer;
      }
      #today {
        height: 50%;
        width: 100%;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        #info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 80%;
          width: 100%;
          box-sizing: border-box;
          padding-block: 10px;
          // background-color: grey;
        }
      }
      #weeks {
        // background-color: grey;
        height: 50%;
        width: 100%;
        display: flex;
        // justify-content: center;
        gap: 32px;
        align-items: center;
        #card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 95%;
          width: 50%;
          box-sizing: border-box;
          padding-block: 10px;
          // background-color: black;
          border-radius: 24px;
          border: 2.5px solid rgb(32, 70, 41, 0.25);
          #information {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
